/* Контейнер для фона */
body.index {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

/* Инициализация стилей для анимации фейд */
body {
    transition: opacity 1s ease; /* Плавный переход для opacity */
    opacity: 1; /* Изначально видимая страница */
}

/* Для состояния при переходе страницы */
body.fade-out {
    opacity: 0; /* Прозрачность, когда страница исчезает */
}

/* Новый элемент для фона с анимацией */
body.index .background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('image/background.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0;
    animation: fadeInBackground 2s ease-out forwards;
}

/* Плавное появление фона */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Анимация кручения логотипа вокруг своей оси */
@keyframes rotateLogo {
    0% {
        transform: rotateY(0deg); /* Начальный угол */
    }
    100% {
        transform: rotateY(360deg); /* Конечный угол */
    }
}

/* Логотип */
.logo {
    position: absolute;
    top: 50px;
    left: 42%;
    transform: translateX(-50%);
    width: 300px;
    z-index: 1;
    opacity: 0;
    animation: fadeInLogo 2s ease-out 1s forwards, rotateLogo 5s linear infinite;
}

/* Плавное появление логотипа */
@keyframes fadeInLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Стиль контейнера для формы */
.auth-container {
    background: rgba(0, 0, 0, 0.8); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 0 0 30px rgba(0, 255, 255, 0.2);
    width: 300px;
    z-index: 2;
    opacity: 0;
    animation: fadeInAuth 2s ease-out forwards 2s; /* Плавное появление формы с задержкой */
}

/* Плавное появление формы */
@keyframes fadeInAuth {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Прочие стили */
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    background: linear-gradient(to right, #ff00ff, #00ffff); 
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    margin-top: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 12px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background-color: #5a00ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #7e33ff;
}

p {
    color: rgba(255, 255, 255, 0.8); 
}
